.resources-widget-wrap-after {
    padding: 75px 30px 55px;
    text-align: center;
    background-color: #f7f7f7;

    .widget {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include tablet {
        padding: 75px 30px 55px;
    }

    @include mobile {
        padding: 30px 30px 10px;
    }

    .wrap {
        max-width: 1200px;
        margin: 0 auto;
    }
}