.loop-container.loop-layout-resources {

    .entry {
        position: relative;
        padding: 20px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 0 10px 0 rgba(black, 0.07);
        transition: .3s all ease;
    }

    .entry:hover {
        box-shadow: 0 0 10px 0 rgba(black, 0.15);
    }

    a.overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
    }

}